<div class="member-list">
		<h3>List of current members</h3>
		<ul>
			<% @members.each do |member| %>
				<%= link_to member do %>
						<li><%= member.first_name %> <%= member.last_name %></li>
				<% end %>
			<% end %>
		</ul>
</div>

<div class="button-box">
		<div class="btn btn-default">New Sectre Santa</div>
</div>
